<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
  	<div style="text-align:center; padding-top:15px;">
    	Copyright ©2016 Sunny sun. All Rights Reserved.
    </div>
  </div>
</div>