<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
  <div class="container">  
    
    <div class="navbar-header"> 
      <a class="navbar-brand" href="/">Nodejs + Express + Ejs + Bootstrap 示例</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if (username) { %> 
        <li><a href="#">        
              <%= username %>          
        </a></li>
        <li><a href="/login/logout">安全退出</a></li> 
      <% } %>           
    </ul>

    <!--menu start-->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/httprequest">HttpRequest</a></li>
      <li><a href="/tools/index">Tools</a><li>
      <li><a href="/study/bootstrap3">bootstrap3 demo</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Study <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/study/bootstrap3">bootstrap3 demo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/test/test" target="_blank">Test</a><li>
        </ul>
      </li>
    </ul> 
    <!--menu end-->

  </div>
</div>